---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/header.svelte';

import Dropdoan from '@/components/dropdown.svelte'

import Tabsh8 from '@/components/tabsh8.svelte';

import Main from '@/pages/_main.astro'
import Aside from '@/pages/_aside.astro'


const appname = 'Web Terminorogy Navigater';
---

<Layout title={appname}>
	<header class="flex items-center bg-purple-300 p-2">
		<Header title="test" client:only="svelte"/>
	 </header>
	  <div class="content-wrapp flex bg-white">
		
		<nav class="order-first w-96 p-2 overflow-y-auto m-0">
			<Dropdoan client:only="svelte" />
			<Tabsh8 client:only="svelte" />
		</nav>
		<div class="w-1 bg-slate-300 cursor-col-resize"></div>
		<main class="flex-1 bg-green-100 p-2 overflow-y-auto">
			<Main label='main'>
		</main>
		<aside class="w-32 bg-blue-100 p-2 overflow-y-auto hidden">
			<Aside label='Aside'>
		</aside>
	  </div>
</Layout>


