<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="css/splitter-simple-01.css"/>
  <script type="text/javascript">
    let StartDrag = false;

    window.onload = onLoad;

    function onLoad() {
      const splitter = document.querySelector("#Splitter1");
      const leftFrame = document.querySelector("#LeftFrame1");

      splitter.addEventListener("mousedown", (event) => {

        document.addEventListener("mousemove", resize, false);
        document.addEventListener("mouseup", () => {
          document.removeEventListener("mousemove", resize, false);
        }, false);
      });

      function resize(e) {
        const size = `${e.x}px`;
        leftFrame.style.flexBasis = size;
      }
    }
  </script>
</head>
<body>
  <div class="Container">
    <div id="LeftFrame1" class="LeftFrame">
      <p>Item1</p>
      <p>Item2</p>
      <p>Item3</p>
      <p>Item4</p>
      <p>Item5</p>
    </div>
    <div id="Splitter1" class="Splitter">
    </div>
    <div class="RightFrame">
      <p>Content1</p>
      <p>Content2</p>
      <p>Content3</p>
      <p>Content4</p>
      <p>Content5</p>
    </div>
   </div>
</body>
</html>